async-timeout==5.0.1
certifi==2025.1.31
click==8.1.8
dnspython==2.7.0
elastic-transport==8.17.1
elasticsearch==8.17.2
fun-things==0.49.0
lane2lane @ git+https://github.com/Talisik/lane2lane.git
lazy-main==0.5.0
markdown-it-py==3.0.0
mdurl==0.1.2
psycopg2-binary==2.9.10
Pygments==2.19.1
pymongo==4.11.3
python-dotenv==1.1.0
redis==5.2.1
rich==14.0.0
shellingham==1.5.4
simple-chalk==0.1.0
typer==0.15.2
typing_extensions==4.13.0
urllib3==2.3.0
